# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/

# Docs
!docs/

# Dotenv file
.env
.env.*

# Outdated files
archive/

# Dependencies
lib/

# Original protocol contracts
src/zzzreference/

# Cursor IDE files
.cursorrules

# Reference
reference/

# Scripts (for creating a new secrets file)
scripts/

# ai prompts
ai/

# chainlink functions code
chainlink-functions/

# deployment files
deployments/

# verification test
verify-test/

# in progress
working/